

/* Minimal Calendar by Miriadis */

/* Hide clock, most time buttons, and weather */
#calendar .clock--time-display,
#calendar .time-cue--dawn,
#calendar .time-cue--noon,
#calendar .time-cue--dusk,
#calendar .calendar--time-controls,
#calendar .calendar--weather-toggle,
#weather {
	display: none;
}

/* Remove bottom border from date container */
#calendar #calendar--date-display {
	border-bottom: none;
}

/* Remove season button */
#calendar #season-indicator {
	margin: 0 0 0 auto;
}

/* Only fade buttons */
#calendar-time-container .calendar--header .header-navigation {
	opacity: 1;
}
#calendar .calendar-btn {
	opacity: 0;
  transition: opacity .3s ease;
}
#calendar:hover .calendar-btn {
	opacity: 1;
}

/* Reposition time controls over date container */
#calendar .calendar--clock {
	bottom: 0;
	position: absolute;
	right: 0;
}
